.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: #212121;
}

.card__delete-button {
  position: absolute;
  padding: 15px;
  margin: 0;
  background-color: transparent;
  border: none;
  background-image: url(../images/delete.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__delete-button:hover {
  cursor: pointer;
  background-image: url(../images/delete-hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: 1;
  width: 23px;
  height: 20px;
}

.card__like-button {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card__like-button_active {
  opacity: 1;
  background-image: url(../images/like-active.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button_active:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1280px;
}
.card__image {
 height: 288px;
  width: 288px;
}
.card__content {
  width: 288px;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 235px;
}
}