.profile {
  display: flex;
  max-width: 1280px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
display: flex;
flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121
}

.profile__description {
margin: 0;
font-family: 'Poppins', Arial, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 1;
color: rgba(33, 33, 33, 0.7);
text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit {
  display: flex;
  padding: 0;
}

.profile__edit-btn {
  background: transparent;
  margin-top: auto;
  border: none;
  gap: 8px;
  display: flex;
  padding: 0;
  cursor: pointer;
}

.profile__edit-icon {
  opacity: 0.7;
  height: 16px;
}


.profile__edit-text {
  width: 84px;
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1;
  color:rgba(33, 33, 33, 0.7) ;
}

.profile__edit-btn:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.profile__add-btn {
  background-color: #212121;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  margin-left: auto;
  align-self: flex-end;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
  transition: opacity 0.3s ease;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
}

.profile__add-text {
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
.profile {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.profile__avatar {
  height: 80px;
  width: 80px;
  margin: 0 0 12px;
}
.profile__name {
  font-size: 20px;
  margin: 0 0 6px;
  max-width: 288px;
}
.profile__description {
  margin: 0 0 32px;
  max-width: 288px;
}
.profile__column {
  margin: 0 0 20px;
}
.profile__edit-btn {
  margin: 0 auto;
  padding: 0;
}
.profile__add-btn {
  margin: 0;
  width: 100%;
}
}